.container-loading {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,1fr);
    background-image: url('../../shared/images/cook-2364221_1920.jpg');
    background-position: center;
    background-size: cover;
}

.loading{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-content: center;
    background-color: whitesmoke;
}

.loading h2{
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 5rem;
    color: #A7C957;
    text-align: center;
    margin-top: 0;
}

.loading img{
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100px;
    height: 100px;
    margin-left: 6rem;
}

