.container-form{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,1fr);
    background-image: url('../../shared/images/cook-2364221_1920.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.form {
    height: auto;
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 13;
    margin-top:2rem;
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: auto;
    font-family: 'Roboto', sans-serif;
}

.form-group{
 margin: 3rem;
}

p{
    font-size: 12px;
    color: #2B2B2B;
    font-family: 'Roboto', sans-serif;
    margin-left: 5rem;
}

.form h3 {
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1.3rem;
    color:white;
    text-align: center;
    margin-top: 1rem;
}

.form .input-title{
    font-size: 12px;
    color:white;
    margin-left: 4rem;
    margin-right: 4rem;
}

.input-title input {
    width: 100%;
}


.form .input-summary{
    font-size: 12px;
    color: white;
    text-align: justify;
    margin-top: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-family: 'Roboto', sans-serif;
}

.input-summary input {
    width: 100%;
    padding-bottom: 2rem;
}

.form .multiselect{
    font-size: 12px;
    color: white;
    text-align: justify;
    margin-top: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-family: 'Roboto', sans-serif;
}

.multiselect label {
    padding: 0.4rem;
}

.multiselect label input {
    margin-left: 0.2px;
    margin-right: 0.5rem;
    padding: 0.3rem;
}

.container-instrtuctions{
    font-size: 12px;
    color: white;
    text-align: justify;
    margin-top: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-family: 'Roboto', sans-serif;
}

.container-instrtuctions input{
    width: 100%;
    padding-bottom: 5rem;
}

.container-diets{
    font-size: 12px;
    color: white;
    text-align: justify;
    margin-top: 1.5rem;
    margin-left: 2.7rem;
    margin-right: 4rem;
    font-family: 'Roboto', sans-serif;
}

.container-diets span{
    margin-left: 1.5rem;
}
.container-diets label{
    margin-left: 0.1rem;
    padding: 1.4rem;
}

.container-diets input {
    margin-left: 0;
    margin-right: 0.5rem;
}

.container-score {
    font-size: 12px;
    color: white;
    text-align: justify;
    margin-top: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-family: 'Roboto', sans-serif;
}

.container-score label{
    padding: 0.4rem;
}

.container-score label input {
    border-radius: 7px;
}

.container-image{
    font-size: 12px;
    color: white;
    text-align: justify;
    margin-top: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-family: 'Roboto', sans-serif;
}

.container-image label{
    margin-left: 0.1rem;
    padding: 0.4rem;
}

.container-image input {
    width: 100%;
}

.container-submit{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1.5rem;
}

.btn-create{
    display: inline-block;
    padding: 10px 20px;
    border: solid 1px #A7C957;
    border-radius: 2px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 11px;
    z-index: 1;
    background-color: #A7C957;
    color: white;
    text-align: justify;
    margin-top: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-family: 'Roboto', sans-serif;
}

.btn-create:hover{
    background-color: white;
    color: #A7C957;
    border: 1px solid #A7C957;
    font-family: 'Roboto', sans-serif;
}

.btn-home{
    display: inline-block;
    padding: 10px 25px;
    border: solid 1px;
    border-radius: 2px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 11px;
    z-index: 1;
    background-color:white;
    color: #A7C957;
    text-align: justify;
    margin-top: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-family: 'Roboto', sans-serif;
}

.btn-home:hover{
    background-color: #555555;
    color: white;
    font-family: 'Roboto', sans-serif;
}