/* .search {
    
}

::placeholder{
    margin-left: 1rem;
}

input{
    padding: 0.15rem 4rem;
}


input:focus, input:hover {
    outline: none;
    border-color: #A7C957;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
} */

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left:0.5rem;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.2rem 0.3rem;
    padding-right: 3rem;
    border-radius: 0.2rem;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }